// Lib for CSS3: http//visionmedia.github.com/nib/
@import 'nib'

orange = #c46d46
green = #81ad45

fonts = "Arvo", sans-serif;

font-huge = 54px
font-large = 24px
font-medium = 17px
font-small = 15px

@import 'include/_basic'

@import 'include/_projects'

// Webfont icons
@import 'include/_webfont-icons'