// Lib for CSS3: http//visionmedia.github.com/nib/
@import 'nib'

green = #81ad45
dark-gray = #333
gray = #555
light-gray = #aaa
xlight-gray = #f7f6f5

fonts =  "PT Sans", "Helvetica Neue", sans-serif;

font-huge = 56px
font-large = 28px
font-medium = 20px
font-small = 17px
font-xsmall = 14px

@import 'include/_basic'
@import 'include/_projects'
@import 'include/_blog'

// Webfont icons
@import 'include/_webfont-icons'