.zero
  margin 0px
  padding 0px

body
  background-color xlight-gray
  font-family fonts
  font-weight 400
  color gray
  padding 20px
  margin 0px
  -webkit-font-smoothing antialiased

a
  color gray
  text-decoration none
  font-weight bold

  &:hover
    color green

h1
  @extend .zero
  font-size font-huge
  line-height font-huge
  font-weight 400
  color green

h2
  @extend .zero
  font-size font-large
  font-weight 400

p
  font-size font-medium
  line-height font-medium * 1.5
  padding-right 20px

.container
  margin 20px auto
  width 100%
  text-align left
  transition width 500ms

.bio
  overflow hidden
  margin-top 10px

.column 
  width 100%
  float left

#social-icons
  margin 20px 0px 0px
  overflow hidden

  a
    cursor pointer
    margin-right 20px
    float left
    font-weight normal

#footer-links
  margin-top 40px

@media screen and (min-width: 700px)

  .container
    width 85%

  .column
    width 50%

    p
      font-size font-small
      line-height font-small * 1.5
      padding-right 40px

@media screen and (min-width: 1150px)

  .container
    width 70%

  #blog-posts
    width 60%
