body
  box-shadow inset 0px 3px 6px rgba(0,0,0,0.15) 
  background-color green
  font-family fonts
  color #fff
  -webkit-font-smoothing antialised
  padding 20px
  margin 0px

a
  color darken(green, 15)
  text-decoration none
  transition all 100ms

  &:hover
    color darken(green, 30)

#front-page

  hr
    background-color darken(green, 5)
    border none
    height 5px
    margin 30px auto 40px

  #footer-links a
    color white

    &:hover
      color darken(green, 20)

h1
  font-weight 300
  font-size 28px
  margin 0px
  padding 0px

h2
  font-weight 400
  font-size font-large
  margin 0px
  padding 0px

.container
  margin 20px auto
  width 100%
  text-align left
  transition width 500ms

.bio
  overflow hidden
  margin-top 20px

.column 
  width 100%
  float left

  p
    font-size font-medium
    line-height 32px
    padding-right 20px

h2
  color #fff

#social-icons
  margin 40px 0px 0px
  overflow hidden

  li:hover
      a
        color white !important
        transition all 250ms

  a
    cursor pointer
    transition all 250ms
    margin-right 20px
    float left

@media screen and (min-width: 500px)

  h1
    font-size font-huge
    margin 0px 0px 0px -5px

  h2
    font-size font-medium

  .role
    font-size 11px !important

  .container
    width 75%

  .column
    width 50%

    p
      font-size font-small
      line-height 28px
      padding-right 40px

@media screen and (min-width: 1150px)

  .container
    width 50%
