.blog
  background #eee
  color gray
  text-shadow 0px 1px 0px white

  #blog-posts
  	position relative

  h1
  	border-bottom 5px solid orange
  	margin-bottom 20px

  h2
  	font-size font-large
  	color green
  	margin 40px 0px 20px

  h3
  	font-size font-large
  	font-weight 400
  	color orange

  p
  	line-height 28px

  ul, li
  	line-height 28px

  .article-date
  	color lighten(gray, 50)
  	font-size font-small 