#theme-switcher
  position fixed
  right 20px
  top 20px
  padding 4px 10px
  background #e2e2e2
  border-radius 10px
  box-shadow 0px 2px 0px #ccc
  z-index 200

  .theme
    color lighten(gray, 25)
    float left
    margin 5px
    font-size 10px
    font-family sans-serif
    font-weight bold
    text-shadow none
    cursor pointer

    &:hover
      color gray

#blog-posts
  position relative

.date
  font-family "Lato", "Arial", "Helvetica Neue", sans-serif
  text-transform uppercase
  font-size 11px
  font-weight bold
  margin-top -10px

.light
  background #eee
  color gray

.dark
  background #333
  color #ddd

  a
    color orange

    &:hover
      color lighten(orange, 20)

.blog
  padding-bottom 100px
  font-size font-small

  h1
  	border-bottom 5px solid orange
  	margin-bottom 20px

  h2
  	font-size font-large
  	color green
  	margin 40px 0px 20px

  h3
  	font-size font-large
  	font-weight 400
  	color orange

  p
  	line-height 28px

  ul, li
  	line-height 28px

  .article-date
  	color lighten(gray, 50)
  	font-size font-small 


