#theme-switcher
  position fixed
  right 20px
  top 20px
  padding 4px 10px
  background #e2e2e2
  border-radius 10px
  box-shadow 0px 2px 0px #ccc
  z-index 200

  .theme
    color lighten(gray, 25)
    float left
    margin 5px
    font-size 10px
    font-family sans-serif
    font-weight bold
    text-shadow none
    cursor pointer

    &:hover
      color gray

#blog-posts
  position relative

.date
  font-family "Lato", "Arial", "Helvetica Neue", sans-serif
  text-transform uppercase
  font-size 11px
  font-weight bold
  margin-top 0px

.light
  background xlight-gray
  color gray

.dark
  background dark-gray
  color xlight-gray
  -webkit-font-smoothing antialiased

.blog
  padding-bottom 100px

  h2
    margin-top 40px

  p, li
    font-size font-small
    line-height font-small * 1.5

  a
    color green
