#projects
	display none

	hr
		background-color darken(orange, 5)
		border none
		height 5px
		margin 30px auto 40px
	p
		color darken(orange, 30)

	a
		color beet

		&:hover
			color #fff

	.column
		margin-top 40px

	#view-home-link
		color white

		&:hover
			color darken(orange, 30)

	.role
		font-family "Lato", sans-serif;
		text-transform uppercase
		font-size 14px
		font-weight 700
		color darken(orange, 15)