@font-face
  font-family 'icomoon'
  src url('../font/icomoon.eot')
  src url('../font/icomoon.eot?#iefix') format('embedded-opentype'), url('../font/icomoon.svg#icomoon') format('svg'), url('../font/icomoon.woff') format('woff'), url('../font/icomoon.ttf') format('truetype')
  font-weight normal
  font-style normal

.icon-facebook:before,
.icon-google-plus:before,
.icon-google-plus:before,
.icon-dribbble:before,
.icon-github:before,
.icon-youtube:before,
.icon-linkedin:before
  font-family 'icomoon'
  font-style normal
  speak none
  font-size 28px
  display block

.icon-facebook:before 
  content "\61"

.icon-google-plus:before
  content "\62"

.icon-google-plus:before
  content "\63"

.icon-dribbble:before
  content "\64"

.icon-github:before
  content "\65"

.icon-youtube:before
  content "\66"

.icon-linkedin:before
  content "\67"